@model IU1test.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DateCreated" />
        <input type="hidden" asp-for="DateModified" />
        <div class="form-group">
            <label asp-for="Titel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Details" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Details" class="form-control" style="height: 300px"/>
                <span asp-validation-for="Details" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
